<header class="container">
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-items">
        <a routerLink="/" class="nav-link">display 1</a>
      </li>
      <li class="nav-items">
        <a routerLink="/display2" class="nav-link">display 2</a>
      </li>
      <li class="nav-items">
        <a routerLink="/display3" class="nav-link">display 3</a>
      </li>
      <li class="nav-items">
        <a routerLink="/display4" class="nav-link">display 4</a>
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
