<div class="row">
  <div class="col">
    <div class="">
      <input
        type="text"
        name="search"
        [(ngModel)]="searchText"
        placeholder="Search here..."
        class="form-control"
      />
    </div>
  </div>
  <div class="col">
    <table class="table table-striped">
      <thead>
        <th>#id</th>
        <th>name</th>
        <th>address</th>
        <th>city</th>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeeData | filter: searchText">
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.address }}</td>
          <td>{{ emp.city }}</td>
          <td>
            <button
              class="btn btn-danger btn-sm rounded-pill"
              (click)="onDelete(emp.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col"></div>
</div>
