<div class="text-center mt-4">
  <h2>{{ title }}</h2>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="form-group">
      <label for="">Contact Id</label>
      <input
        type="number"
        placeholder="enter id here"
        formControlName="userid"
        class="form-control"
      />
      <br />
      <label for="">Contact Name</label>
      <input
        type="text"
        placeholder="enter name here"
        formControlName="username"
        class="form-control"
      />
      <br />
      <label for="">Address</label>
      <input
        type="text"
        placeholder="enter address here"
        formControlName="address"
        class="form-control"
      />
      <br />
      <label for="">Pincode</label>
      <input
        type="number"
        placeholder="enter pincode here"
        formControlName="pincode"
        class="form-control"
      />
      <br /><br />
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
  <div class="col"></div>
</div>
