<div class="row">
  <div class="col-7">
    <table class="table table-striped">
      <thead>
        <th>#id</th>
        <th>name</th>
        <th>status</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let cat of categorydata">
          <td>{{ cat.id }}</td>
          <td>{{ cat.name }}</td>
          <td>{{ cat.status }}</td>
          <td>
            <a
              class="btn btn-primary"
              [routerLink]="['/categories/category/', cat.id, cat.price]"
              >Select</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-5">
    <router-outlet></router-outlet>
  </div>
</div>
