<div class="container mt-4">
  <form #formProduct="ngForm" (ngSubmit)="onSubmit(formProduct)">
    <div class="form-group">
      <label for="">product id</label>
      <input
        type="text"
        class="form-control"
        placeholder="enter id here..."
        name="productid"
        ngModel
      />
    </div>
    <div class="form-group mt-4">
      <label for="">product name</label>
      <input
        type="text"
        class="form-control"
        placeholder="enter name here..."
        name="productname"
        ngModel
      />
    </div>
    <div class="form-group mt-4">
      <label for="">product Price</label>
      <input
        type="text"
        class="form-control"
        placeholder="enter price here..."
        name="productprice"
        ngModel
      />
    </div>
    <div class="form-group mt-4">
      <label for="">product size</label>
      <input
        type="text"
        class="form-control"
        placeholder="enter size here..."
        name="productsize"
        ngModel
      />
    </div>
    <div class="form-group mt-4">
      <label for="">product status</label>
      <input type="text" class="form-control" name="productstatus" ngModel />
    </div>
    <div class="mt-4 text-center">
      <button class="btn btn-primary rounded-pill">Submit</button>
    </div>
  </form>
</div>
