<!-- <app-assignment1></app-assignment1> -->
<!-- <app-assignment2></app-assignment2> -->

<div class="container text-center mt-4">
  <div>
    <input
      type="button"
      class="btn btn-success"
      value="assignment1"
      routerLink="/assignment1"
    />
    <input
      style="margin-left: 30px"
      type="button"
      class="btn btn-success"
      value="assignment2"
      routerLink="/assignment2"
    />
    <input
      style="margin-left: 30px"
      type="button"
      class="btn btn-success"
      value="assignment3"
      routerLink="/assignment3"
    />
  </div>
</div>

<router-outlet></router-outlet>
