<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#userId</th>
          <th>Password</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userdata">
          <td>{{ user.id }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.status }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/users/user/', user.id]"
              >Select</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
